<html>
<head>
    <meta charset="utf-8" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>最新，Vue 中的响应性语法糖已废弃 | zkrisj</title>

<link rel="shortcut icon" href="https://zkrisj.gitee.io/favicon.ico?v=1679066285440">

<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://zkrisj.gitee.io/styles/main.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"> -->

<script src="https://cdn.jsdelivr.net/npm/@highlightjs/cdn-assets/highlight.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/9.12.0/languages//dart.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script> -->
<!-- DEMO JS -->
<!--<script src="media/scripts/index.js"></script>-->



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.css">
    
</head>
<body>
<div class="main gt-bg-theme-color-first">
    <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <img class="user-avatar" src="/images/avatar.png" alt="头像">
        <div class="site-name gt-c-content-color-first">
            zkrisj
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="changeNavbar">
        <i class="fas fa-bars gt-c-content-color-first" style="font-size: 18px"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto" style="text-align: center">
            
            <div class="nav-item">
                
                <a href="/" class="menu gt-a-link">
                    首页
                </a>
                
            </div>
            
            <div class="nav-item">
                
                <a href="/archives" class="menu gt-a-link">
                    归档
                </a>
                
            </div>
            
            <div class="nav-item">
                
                <a href="/tags" class="menu gt-a-link">
                    标签
                </a>
                
            </div>
            
            <div class="nav-item">
                
                <a href="/post/about" class="menu gt-a-link">
                    关于
                </a>
                
            </div>
            
        </div>
        <div style="text-align: center">
            <form id="gridea-search-form" style="position: relative" data-update="1679066285440"
                action="/search/">
                <input class="search-input" autocomplete="off" spellcheck="false" name="q" placeholder="搜索文章" />
                <i class="fas fa-search gt-c-content-color-first" style="position: absolute; top: 9px; left: 10px;"></i>
            </form>
        </div>
    </div>
</nav>
<script>
    /* 移动端导航栏展开/收起切换 */
    document.getElementById('changeNavbar').onclick = () => {
        var element = document.getElementById('navbarSupportedContent');
        if (element.style.display === 'none' || element.style.display === '') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }
</script>

    <div class="post-container">
        <div class="post-detail gt-bg-theme-color-second">
            <article class="gt-post-content">
                <h2 class="post-title">
                    最新，Vue 中的响应性语法糖已废弃
                </h2>
                <div class="post-info">
                    <time class="post-time gt-c-content-color-first">
                        · 2023-03-04 ·
                    </time>
                    
                        <a href="https://zkrisj.gitee.io/tag/Gh8djQs1V/" class="post-tags">
                            # Vue
                        </a>
                    
                </div>
                <div class="post-content">
                    <h2 id="介绍">介绍</h2>
<p>自从引入组合式 API 的概念以来，一个主要的未解决的问题就是 <code>ref</code> 和 <code>reactive</code> 到底用哪个。<code>reactive</code> 存在解构丢失响应性的问题，而 <code>ref</code> 需要到处使用 <code>.value</code> 则感觉很繁琐，并且在没有类型系统的帮助时很容易漏掉 <code>.value</code>。</p>
<p>例如，下面的计数器：</p>
<pre><code class="language-html">&lt;template&gt;
  &lt;button @click=&quot;increment&quot;&gt;{{ count }}&lt;/button&gt;
&lt;/template&gt;
</code></pre>
<p>使用 <code>ref</code> 定义 <code>count</code> 变量和 <code>increment</code> 方法：</p>
<pre><code class="language-js">let count = ref(0)

function increment() {
  count.value++
}
</code></pre>
<p>而使用响应性语法糖，我们可以像这样书写代码：</p>
<pre><code class="language-js">let count = $ref(0)

function increment() {
  count++
}
</code></pre>
<ol>
<li>Vue 的响应性语法糖是一个编译时的转换步骤，<code>$ref()</code> 方法是一个<strong>编译时的宏命令</strong>，它不是一个真实的、在运行时会调用的方法，而是用作 Vue 编译器的标记，表明最终的 <code>count</code> 变量需要是一个<strong>响应式变量</strong>。</li>
<li>响应式的变量可以像普通变量那样被访问和重新赋值，但这些操作在编译后都会变为带 <code>.value</code> 的 <code>ref</code>。所以上面例子中的代码也会被编译成使用 <code>ref</code> 定义的语法。</li>
<li>每一个会返回 <code>ref</code> 的响应式 API 都有一个相对应的、以 <code>$</code> 为前缀的宏函数。包括以下这些 API：</li>
</ol>
<ul>
<li>ref -&gt; $ref</li>
<li>computed -&gt; $computed</li>
<li>shallowRef -&gt; $shallowRef</li>
<li>customRef -&gt; $customRef</li>
<li>toRef -&gt; $toRef</li>
</ul>
<ol start="4">
<li>可以使用 <code>$()</code> 宏来将现存的 <code>ref</code> 转换为响应式变量。</li>
</ol>
<pre><code class="language-js">const a = ref(0)
let count = $(a)
count++
console.log(a.value) // 1
</code></pre>
<ol start="5">
<li>可以使用 <code>$$()</code> 宏来将任何对响应式变量的引用都会保留为对相应 <code>ref</code> 的引用。</li>
</ol>
<pre><code class="language-js">let count = $ref(0)
console.log(isRef($$(count))) // true
</code></pre>
<p><code>$$()</code> 也适用于已解构的 <code>props</code>，因为它们也是响应式的变量。编译器会高效地通过 <code>toRef</code> 来做转换：</p>
<pre><code class="language-ts">const { count } = defineProps&lt;{ count: number }&gt;()
passAsRef($$(count))
</code></pre>
<h2 id="配置">配置</h2>
<p>响应性语法糖是 <strong>组合式 API</strong> 特有的功能，且必须通过构建步骤使用。</p>
<ol>
<li>必须，需要 <code>@vitejs/plugin-vue@&gt;=2.0.0</code>，将应用于 SFC 和 js(x)/ts(x) 文件。</li>
</ol>
<pre><code class="language-js">// vite.config.js
export default {
  plugins: [
    vue({
      reactivityTransform: true
    })
  ]
}
</code></pre>
<ul>
<li>注意 <code>reactivityTransform</code> 现在是一个插件的顶层选项，而不再是位于 <code>script.refSugar</code> 之中了，因为它不仅仅只对 SFC 起效。</li>
</ul>
<p>如果是 <code>vue-cli</code> 构建，需要 <code>vue-loader@&gt;=17.0.0</code>，目前仅对 SFC 起效。</p>
<pre><code class="language-js">// vue.config.js
module.exports = {
  chainWebpack: (config) =&gt; {
    config.module
      .rule('vue')
      .use('vue-loader')
      .tap((options) =&gt; {
        return {
          ...options,
          reactivityTransform: true
        }
      })
  }
}
</code></pre>
<p>如果是 <code>webpack</code> + <code>vue-loader</code> 构建，需要 <code>vue-loader@&gt;=17.0.0</code>，目前仅对 SFC 起效。</p>
<pre><code class="language-js">// webpack.config.js
module.exports = {
  module: {
    rules: [
      {
        test: /\.vue$/,
        loader: 'vue-loader',
        options: {
          reactivityTransform: true
        }
      }
    ]
  }
}
</code></pre>
<ol start="2">
<li>可选，<code>tsconfig.json</code> 文件中添加如下代码, 不然会报错 <code>TS2304: Cannot find name '$ref'.</code>，虽然不影响使用,但是会影响开发体验：</li>
</ol>
<pre><code class="language-json">&quot;compilerOptions&quot;:{ &quot;types&quot;: [&quot;vue/ref-macros&quot;] } 
</code></pre>
<ol start="3">
<li>可选，<code>eslintrc.cjs</code> 文件中添加如下代码，不然会提示 <code>ESLint: '$ref' is not defined.(no-undef)</code>：</li>
</ol>
<pre><code class="language-js">module.exports = { globals: {
    $ref: &quot;readonly&quot;,
    $computed: &quot;readonly&quot;,
    $shallowRef: &quot;readonly&quot;,
    $customRef: &quot;readonly&quot;,
    $toRef: &quot;readonly&quot;,
  }
}; 
</code></pre>
<ol start="4">
<li>当启用响应性语法糖时，这些宏函数都是全局可用的、无需手动导入。也可以在 vue 文件中显式引入 <code>vue/macros</code>，这样就不用配置第二和第三步中的 <code>tsconfig.json</code> 和 <code>eslintrc</code> 了。</li>
</ol>
<pre><code class="language-js">import { $ref } from 'vue/macros'

let count = $ref(0)
</code></pre>
<h2 id="已废弃的实验性功能">已废弃的实验性功能</h2>
<ol>
<li>响应性语法糖曾经是一个实验性功能，且已被废弃，请阅读<a href="https://github.com/vuejs/rfcs/discussions/369#discussioncomment-5059028">废弃原因</a>。</li>
<li>在未来的一个小版本更新中，它将会从 Vue core 中被移除。如需继续使用，请通过 <a href="https://vue-macros.sxzz.moe/features/reactivity-transform.html">Vue Macros</a> 插件。</li>
</ol>
<h2 id="废弃原因">废弃原因</h2>
<p>尤雨溪在2个星期前（2023 年 2 月 21 日上午 10:05 GMT+8），亲自给出了废弃的原因，翻译如下：</p>
<p>正如你们中的许多人已经知道的那样，我们在团队一致同意的情况下正式放弃了这个 RFC。</p>
<h3 id="理由">理由</h3>
<p>Reactivity Transform 的最初目标是通过在处理反应状态时提供更简洁的语法来改善开发人员的体验。我们将其作为实验性产品发布，以收集来自现实世界使用情况的反馈。尽管提出了这些好处，我们还是发现了以下问题：</p>
<ol>
<li>失去 <code>.value</code> 使得更难分辨正在跟踪的内容以及哪条线触发了反应效果。这个问题在小型 SFC 中并不那么明显，但在大型代码库中，心理开销变得更加明显，特别是如果语法也在 SFC <strong>之外使用。</strong></li>
<li>由于 (1)，一些用户选择仅在 SFC 内部使用 Reactivity Transform，这会在不同心智模型之间造成不一致和上下文转换成本。因此，困境在于仅在 SFC 内部使用它会导致不一致，但在 SFC 外部使用它会损害可维护性。</li>
<li>由于仍然会有外部函数期望使用原始引用，因此反应变量和原始引用之间的转换是不可避免的。这最终增加了更多的学习内容和额外的精神负担，我们注意到这比普通的 Composition API 更让初学者感到困惑。</li>
</ol>
<p>最重要的是，碎片化的潜在风险。尽管这是明确的选择加入，但一些用户对该提议表示强烈反对，原因是他们担心他们将不得不与不同的代码库一起工作，在这些代码库中，有些人选择了使用它，而有些人则没有。这是一个合理的担忧，因为 Reactivity Transform 需要一种不同的心智模型，它会扭曲 JavaScript 语义（变量赋值能够触发反应效果）。</p>
<p>考虑到所有因素，我们认为将其作为一个稳定的功能使用会导致问题多于收益，因此不是一个好的权衡。</p>
<h3 id="迁移计划">迁移计划</h3>
<ul>
<li><a href="https://vue-macros.sxzz.moe/features/reactivity-transform.html">该功能已经通过 Vue Macros</a> 以外部包的形式得到支持。</li>
<li>3.3：该功能将被标记为已弃用。它将继续工作，但您应该在此期间迁移到 Vue Macros。</li>
<li>3.4：该功能将从核心中删除，除非使用 Vue Macros，否则将不再有效。</li>
</ul>
<h3 id="留言">留言</h3>
<ul>
<li>虽然 Reactivity Transform 会从官方包中移除，但我认为这是一个很好的尝试。</li>
<li>写得好。我喜欢详细的 RFC 和基于用户反馈的客观评估。最后的结论很有道理。不要让完美成为优秀的敌人。</li>
<li>虽然我很享受这个功能带来的便利，但我在实际使用中确实发现了这个潜在的碎片问题。在未来的版本中删除此功能可能不太情愿，但工程师应该认真对待。🙂</li>
<li>您是删除所有功能还是仅删除 <code>ref.value</code> 进行转换的部分？响应式 <code>props</code> 解构呢，它会留下来吗？</li>
<li>我一直在将它用于中等规模的电子商务网站，没有任何问题。我理解删除它背后的基本原理，但在实践中我发现它确实是一个很大的改进。所以我的问题是：现在怎么办？</li>
<li>是否建议那些讨厌 <code>.value</code> 的人现在尽可能避免使用 <code>ref()</code> 并像以前那样使用 <code>reactive()</code>？</li>
<li><code>.value</code> 是必要的复杂性。就像任何其他响应式库 <code>xxx.set()</code> 一样。</li>
<li>创建一个转换所有 Reactivity Transform 代码的包应该很容易吧？我也喜欢按照推荐的方式做事。</li>
<li>...</li>
</ul>

                </div>
            </article>
        </div>

        
            <div class="next-post">
                <div class="next gt-c-content-color-first">下一篇</div>
                <a href="https://zkrisj.gitee.io/post/vue-zu-he-shi-han-shu/" class="post-title gt-a-link">
                    Vue 组合式函数
                </a>
            </div>
        

        

        

        

        <div class="site-footer gt-c-content-color-first">
    <div class="slogan gt-c-content-color-first">全栈技术文章记录博客</div>
    <div class="social-container">
        
            
        
            
        
            
        
            
        
            
        
            
        
    </div>
    <div class="footer-info">
        
    </div>
    <div>
        Theme <a href="https://github.com/imhanjie/gridea-theme-pure" target="_blank">Pure</a>, Powered by <a
                href="https://gridea.dev" target="_blank">Gridea</a> | <a href="https://zkrisj.gitee.io/atom.xml" target="_blank">RSS</a>
    </div>
</div>

<script>
  hljs.highlightAll()
</script>

    </div>
</div>
</body>
</html>
